.noprint {display: none;}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
}

h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.headline {
  text-align: center;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}