<h1>Добро пожаловать, <%= @username %></h1>
<p>
  <%= link_to "Пользователи", users_path %><br />
  <%= link_to "Пациенты", patients_path %><br />
  <%= link_to "Гинекологические обследования", gynecologic_examinations_path %>
</p>
