// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

table {
  border-collapse: collapse;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  padding: 10px;
  background: #618AD2;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tr.alt {
  background-color: #F5F5F5;
}

td {
  font: 13px 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
  padding: 5px;
}

.on_one_line
{
  text-align: left;
  display: table-cell;
  min-width: 10px;
  padding-right: 10px;
}

div label.login {
    display: inline-block;
    float: left;
    clear: left;
    width: 47px;
    text-align: left;
    padding-right: 5px;
}